<%- include('header.ejs') %>
    <!DOCTYPE html>
    <html>

    <head>
        <meta name="csrf-token" content="<%= csrfToken %>" />
        <title>Home</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    </head>

    <body class="bg-gray-100">
        <div class="flex justify-end p-4">
            <a href="/educator/changePassword" class="text-blue-600 hover:underline mb-2 mr-4">Change Password</a>
            <a href="/signout" class="text-blue-600 hover:underline">Sign out</a>
        </div>
        <div class="min-h-screen flex flex-col items-center justify-center">
            <h1 class="text-4xl mb-6">Welcome Educator!</h1>
            <a href="/createcourse" class="text-blue-600 hover:underline mb-2">Create a Course</a>
            <a href="/educators/courses" class="text-blue-600 hover:underline mb-6">My Courses</a>
            <h2 mb-4>All Courses</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-5">
                <% for(var i=0; i<allCourses.length; i++) { %>
                    <div class="bg-white rounded-lg shadow-md p-4">
                        <h4 class="text-lg font-semibold mb-2">
                            <%= allCourses[i].title %>
                        </h4>
                        <p class="text-sm text-gray-600">
                            <%= allCourses[i].description %>
                        </p>
                    </div>
                    <% } %>
            </div>
        </div>
        <%- include('footer.ejs') %>
    </body>

    </html>