<%- include('header.ejs') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chapters</title>
        <!-- Linking Tailwind CSS from CDN -->
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body class="bg-gray-100 p-8">
        <h3 class="text-2xl font-bold mb-4">Chapters</h3>

        <!-- Display Course Progress -->
        <% if(userIsEnrolled) { %>
            <div class="bg-white rounded-lg shadow-md mb-6 p-4">
                <h3 class="text-lg font-semibold mb-2">Course Progress</h3>
                <p>Total Chapters: <%= totalChaptersCount %>
                </p>
                <p>Completed Chapters: <%= completedChaptersCount %>
                </p>
                <p>Progress: <%= progressPercentage.toFixed(2) %>%</p>
            </div>
        <% } %>

        <!-- Display Chapters -->
        <% if (chapters.length> 0) { %>
            <% for (var i=0; i < chapters.length; i++) { %>
                <div class="bg-white rounded-lg shadow-md mb-6 p-4">
                    <h4 class="text-xl font-semibold mb-2">
                        <%= chapters[i].title %>
                    </h4>
                    <% if(userIsEnrolled) { %>
                    <div class="flex items-center">
                        <a href="/students/<%= courseId %>/chapters/<%= chapters[i].id %>/pages"
                            class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md mr-2">View Pages</a>

                        <% const enrollment=completedEnrollments.find(enrollment=> enrollment.chapterId ===
                            chapters[i].id); %>
                            <% if (enrollment) { %>
                                <span
                                    class="text-green-500 inline-block px-3 py-1 bg-gray-200 rounded-md cursor-default">Completed</span>
                                <% } else { %>
                                    <form action="/students/<%= courseId %>/mark-complete" method="post" class="mt-2">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <input type="hidden" name="chapterId" value="<%= chapters[i].id %>">
                                        <button type="submit"
                                            class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md">Mark
                                            as Complete</button>
                                    </form>
                                    <% } %>
                    </div>
                <% } %>
                </div>
                <% } %>
                    <% } %>
                        <%- include('footer.ejs') %>
    </body>

    </html>