<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Student Home</title>
    <!-- Linking Tailwind CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 p-8">
    <%- include('header.ejs') %>
    <div class="flex justify-end p-4">
        <a href="students/changePassword" class="text-blue-600 hover:underline mb-2 mr-4">Change Password</a>
        <a href="/signout" class="text-blue-600 hover:underline mb-2">Sign out</a>
    </div>
        <div class="mb-8">
            <h1 class="text-4xl mb-6">Welcome Student!</h1>
            <h3 class="text-xl font-semibold mb-4">Enrolled Courses</h3>
            <% for (var i=0; i < enrolledCourses.length; i++) { %>
                <div class="bg-white rounded-lg shadow-md p-4 mb-4">
                    <h4 class="text-lg font-semibold mb-2">
                        <%= allCourses.find(course=> course.id === enrolledCourses[i].courseId).title %>
                    </h4>
                    <p class="mb-2">
                        <%= allCourses.find(course=> course.id === enrolledCourses[i].courseId).description %>
                    </p>
                    <a href="/students/<%= enrolledCourses[i].courseId %>/chapters"
                        class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md inline-block">View
                        Chapters</a>
                    <hr class="my-4">
                </div>
                <% } %>
        </div>
        <div>
            <h3 class="text-xl font-semibold mb-4">Available Courses</h3>
            <% for (var i=0; i < notEnrolledCourses.length; i++) { %>
                <div class="bg-white rounded-lg shadow-md p-4 mb-4">
                    <h4 class="text-lg font-semibold mb-2">
                        <%= notEnrolledCourses[i].title %>
                    </h4>
                    <p class="mb-2">
                        <%= notEnrolledCourses[i].description %>
                    </p>
                    <a href="/students/<%= notEnrolledCourses[i].id %>/chapters"
                        class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md inline-block">View
                        Chapters</a>
                    <form method="POST" action="/students/enroll/<%= notEnrolledCourses[i].id %>" class="inline-block">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit"
                            class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md inline-block">Enroll</button>
                    </form>
                    <hr class="my-4">
                </div>
                <% } %>
        </div>
        <%- include('footer.ejs') %>
</body>

</html>